.login{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.background {
    --background: linear-gradient(to right top, #32f851, #51f74c, #66f547, #77f443, #85f23f, #95f13a, #a4f136, #b2f033, #c5f02f, #d7ef2d, #e8ee2e, #f8ed32);
}